#quadrado {
    padding: 20px;
    height: 300px;
    margin: 10px;
    margin-right: 800px;
    background-color:lightblue;
    color: blue;
    box-sizing:border-box;
    border-radius: 10px;
}

#status {
    padding: 40px;
    height: 300px;
    margin: 10px;
    margin-right: 800px;
    background-color:lightblue;
    color: blue;
    box-sizing:border-box;
    border-radius: 10px;
}


#produtos {
    color: blue;
}

#recentes {
    margin-left: 200px;
    background-color:lightblue;
    color: blue;
    box-sizing:border-box;
    border-radius: 10px;
}

#status h5{
    color:blue;
}

.flexivel {
    display:flex;
    gap: 10rem;
}

.flexivel img {
    width: 100%;
    width: 200px;
}

.flexivel button{
    border-radius: 50%;
}

.menu_azul {
    background-color: blue;
    color: white;
    box-sizing:border-box;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 1100px;
    gap: 10px;
    text-align: center;
    background-color: lightblue;
    border-radius: 8px;
    margin: 10px; 
}

.carousel img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    background-color: antiquewhite;
}

.quadradinhos {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    text-align: left;
    font-style: italic;
    color: black;
    padding: 10px;
}