.quadrado {
    padding: 20px;
    height: 300px;
    margin: 10px;
    margin-right: 600px;
    background-color:lightblue;
    color: blue;
    box-sizing:border-box;
    border-radius: 10px;
}

#status {
    padding: 40px;
    height: 300px;
    margin: 10px;
    margin-right: 600px;
    background-color:lightblue;
    color: blue;
    box-sizing:border-box;
    border-radius: 10px;
}


#produtos {
    color: blue;
    gap: 10px;
    text-align: center;
    background-color: lightblue;
    border-radius: 8px;
    margin: 10px; 
    margin: 10px;
    margin-right: 600px;
}

.recente {
    padding: 20px;
    height: 300px;
    margin-top: 10px;
    margin-left: 1000px;
    background-color:lightblue;
    color: blue;
    box-sizing:border-box;
    border-radius: 10px;
}

#status h5{
    color:blue;
}

.flexivel {
    display:flex;
    gap: 10rem;
}

.flexivel img {
    width: 100%;
    width: 200px;
}

.botao{
    border-radius: 50%;
    width: 50px;
}

.botao img {
    height:20px;
    width:20px;
}

.menu_azul {
    background-color: blue;
    color: white;
    box-sizing:border-box;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel {
    display: flex;
}

.carousel img {
    width: 80%;
    height: 150px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    background-color: antiquewhite;
}

.quadradinhos {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    text-align: left;
    font-style: italic;
    color: black;
    padding: 10px;
    width: 300px;
    height: 100px;
}